
p{
    padding: 10px;
    text-align: center;
}

.modfier{
    background-color: rgb(236, 83, 83);
    color: white;
    border-radius: 5px;
}


.table{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 3rem;
    width: 96vw;
}

.admin{
    color: white;
    background-color: grey;
}

.manager{
    background-color: rgb(209, 209, 209);
}
td, th{
    text-align: center;
}

.wrapper-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90vw;
    margin-left: 5vw;
}
.wrapper{
    width: 100vw;
    margin-top: 3rem;
}
.col{
    grid-column: span 1;
}
.row{
    padding: 0.4rem;
    border: 1px solid black;
}
@media screen and (max-width: 700px) {
    .wrapper-grid{
        grid-template-columns: 50% 50%;
    }
    .modfier{
        text-size-adjust: 80%;
    }

}