<section [ngClass]="{'position-sold': (dish.ordersLimit==0),
                     'min-price': (dish.price==isMin),
                     'max-price': (dish.price==isMax)}" class="position">
    <div class="fake-photo">
        <img src="{{dish.photo}}" (click)="seeDetails()" class="fake-photo-img">
    </div>

    <p>{{ dish.type | uppercase}}, {{ dish.category | uppercase}}, {{ dish.cuisine | uppercase}}</p>
    <p id="dish-name">Dish Name: {{ dish.name | uppercase }}</p>
    <p>Dish Price: {{ math.round(dish.price * converter*100)/100 }}{{currency}}</p>

    <h3 *ngIf="dish.ordersLimit==0" class="out-off-supply ">Sold</h3>
    <p *ngIf="dish.ordersLimit>0" class="text-center">Positions left for today: {{ dish.ordersLimit }}</p>
    <div *ngIf="auth.isLogged()">
        <app-quantity-buttons [dishID]="dishID"></app-quantity-buttons>
    </div>
</section>