.name, .limit{
 color:white;
 text-align: center;
 margin-top: 10px;
}

.details{
    padding: 5px 2vw;
    margin: 0.8rem;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 
      0px 50px 100px -20px, rgba(0, 0, 0, 0.3)
      0px 30px 60px -30px, rgba(10, 37, 64, 0.35)
      0px -2px 6px 0px inset;
    width: 100%;
}

.modifier{
    color: white;
    background-color: rgb(209, 209, 59);
    margin-right: 4px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}

.dishFrame{
    width: 60vw;
    display: flex;
    flex-grow: 1;
}
.create{
    margin: 0.8rem;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 840px) {
    .dishFrame{
        width: 95vw;
        align-items: baseline;
    }
    .field{ width: auto;
    }
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}