<app-nav-bar></app-nav-bar>
<button class="btn btn-primary back" (click)="goBack()">BACK</button>

<section class="position">
    <div class="frame">
        <img src="{{dish.photo}}" alt="dish-photo">
    </div>
    <h2 class="title">{{dish.name | uppercase}}</h2>
    <h3 *ngIf="dish.rating_amount>0">Rating: {{dish.rating}} (rates: {{dish.rating_amount}})</h3>
    <p>{{ dish.type | uppercase}}, {{ dish.category | uppercase}}, {{ dish.cuisine | uppercase}}</p>
    <p>Dish Price: {{ math.round(dish.price * converter*100)/100 }}{{currency}}</p>
    <p>{{dish.caption}}</p>

    <app-quantity-buttons [dishID]="dish.key"></app-quantity-buttons>
    <button class="opinion-btn btn-primary" (click)="addOpinion()">Reviews</button>

    <div class="opinions" *ngFor="let opinion of filteredOpinions">
        {{opinion}}
    </div>
</section>