<app-nav-bar></app-nav-bar>
<button class="btn btn-primary back" (click)="goBack()">BACK</button>

<section class="position">
    <div class="frame">
        <img src="{{dish.photo}}" alt="dish-photo">
    </div>
    <h2 class="title">{{dish.name | uppercase}}</h2>
    <p>{{ dish.type | uppercase}}, {{ dish.category | uppercase}}, {{ dish.cuisine | uppercase}}</p>
    <p>Dish Price: {{ math.round(dish.price * converter*100)/100 }}{{currency}}</p>
    <p>{{dish.caption}}</p>
    <div>
        <ng-container *ngFor="let star of stars;">
            <app-star [starID]="star" [rating]="hoverState || rating" (starEnter)="onStarEnter($event)"
                (starLeave)="onStarLeave()" (starClicked)="onStarClicked($event)">
            </app-star>
        </ng-container>
    </div>
    <h3 *ngIf="dish.ordersLimit==0" class="out-off-supply ">Sold</h3>
    <p *ngIf="dish.ordersLimit>0" class="text-nowrap">Positions left for today: {{ dish.ordersLimit }}</p>
    <div *ngIf="auth.isLogged()">
        <button type="submit" class="btn btn-warning  waves order-btn" (click)="plus()" [ngClass]="{'btn-cstm': (dish.ordersLimit>=4),
    'disabled': (dish.ordersLimit==0)}">+</button>
        <button type="submit" class="btn btn-danger waves order-btn" (click)="minus()"
            [ngClass]="{'disabled': (dish.ordersLimit==dish.maxLimit)}">-</button>
    </div>
    <button class="opinion-btn btn-primary" (click)="addOpinion()">OPINIONS</button>
    <div class="additionals [dish]">
        <app-remove-btn [dish]=dish routerLink="/dishes/1"></app-remove-btn>
    </div>

    <div class="opinions" *ngFor="let opinion of filteredOpinions">
        {{opinion}}
    </div>
</section>