.dish-form {
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    justify-content: space-between;
    align-items: center;
  }

.form-content {
  margin-bottom: 2vh;
  border: solid black 1px;
}

.btn-home{
  margin-top: 1rem;
  margin-left: 2rem;
}



