.cart{
    border-radius: 15px;
    height: 50%;
    padding: 1vh;
    color:white;
    background-color: rgb(219, 154, 32);
    margin-right: 10px;

}
.cart-change{
    background-color: rgb(100, 182, 248);
}

