<app-nav-bar></app-nav-bar>
<button class="btn btn-primary back" (click)="seeDetails()">BACK</button>
<section class="form-container opinion-form" *ngIf="!auth.manager && isInCart">
    <h3 class="title">Add Review</h3>
    <form [formGroup]="form" (ngSubmit)="submit()" id="reviewform">

        <div class="form-group">
            <textarea form="reviewform" class="form-control form-content" formControlName="text"
                placeholder="Your opinion" rows="7"></textarea>
            <div *ngIf="form.controls['text'].hasError('required') && form.controls['text'].touched "
                class="alert alert-danger">
                Invalid text
            </div>
            <div *ngIf="form.controls['text'].hasError('minlength')  && form.controls['text'].touched "
                class="alert alert-danger">
                To short text
            </div>
            <div *ngIf="form.controls['text'].hasError('maxlength')  && form.controls['text'].touched "
                class="alert alert-danger">
                To long text
            </div>
        </div>

        <div class="form-group opinion-form">
            <label>
                Date
                <input type="date" class="form-control form-content" formControlName="date" placeholder="Date">
            </label>
        </div>
        <div class="opinion-form">
            <button type="submit" [disabled]="!form.valid" class="btn btn-success">Submit</button>
        </div>
    </form>
    <h4 *ngIf="isRated">You have rated this dish</h4>
    <div>
        <ng-container *ngFor="let star of stars;">
            <app-star [starID]="star" [rating]="hoverState || rating" (starEnter)="onStarEnter($event)"
                (starLeave)="onStarLeave()" (starClicked)="onStarClicked($event)">
            </app-star>
        </ng-container>
    </div>
</section>
<div *ngIf="auth.manager" class="title">
    <h3>Manager can't leave reviews</h3>
</div>

<div *ngIf="!auth.manager && !isInCart" class="title">
    <h3>To place a review have to add this item to your cart first</h3>
</div>
<section class="opinions" *ngFor="let opinion of opinions">
    <div class="single">
        <p class="oemail">{{opinion.email}}</p>
        <p class="oopinion">{{opinion.opinion}}</p>
        <p class="odate">{{opinion.date}}</p>
    </div>

</section>
