.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.form-group{
    margin: 1rem 0;
}

.btn-home{
    margin-top: 1rem;
    margin-left: 2rem;
  }
  