<section class="nav-bar">
    <div class="left-side">
        <button mat-button-raised routerLink="/" class="left-btn">Home</button>
        <button mat-button-raised routerLink="/dishes" class="left-btn">Menu</button>
        <button mat-button-raised routerLink="/dishes/create" class="left-btn">Add new dish</button>
    </div>
    <div class="right-side">
        <app-cart-status routerLink="/cart"></app-cart-status>
        <mat-slide-toggle (change)="onChange()" [checked]="isChecked()" class="white-txt">Change currency
        </mat-slide-toggle>
    </div>
</section>