.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    background-color: rgb(35, 77, 168);
}

.left-btn{
    background-color: rgb(127, 204, 12);
    color:white;
    border-radius: 20px;
    margin-left: 0.4rem;
}
.mat-button-raised{
    margin-left: 20px;
}

.white-txt{
    color:white;
}